openapi: 3.0.2
info:
  title: MLB StatAPI
  description: |
    An spec API to consume the MLB Stat API
  version: 0.0.1
  contact:
    name: dave@mudsite.com
servers:
  - url: 'https://statsapi.mlb.com/api'
tags:
  - name: mlb
paths:
  /v1/schedule:
    get:
      operationId: getSchedule
      summary: Retrieves schedule
      description: |
        Returns Schedule
      parameters:
        - $ref: '#/components/parameters/SportId'
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
      tags:
        - mlb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBSchedule'
  /v1/seasons:
    get:
      operationId: getSeason
      summary: Retrieves season
      description: |
        Returns Season
      parameters:
        - $ref: '#/components/parameters/SportId'
        - $ref: '#/components/parameters/Season'
      tags:
        - mlb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MLBSeason'
  /v1/seasons/all:
    get:
      operationId: getAllSeasons
      summary: Retrieves All Seasons over time
      description: |
        Returns All Seasons
      parameters:
        - $ref: '#/components/parameters/SportId'
      tags:
        - mlb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: MLBSeasons
                type: object
                properties:
                  seasons:
                    type: array
                    items:
                      $ref: '#/components/schemas/MLBSeason'
  /v1/teams:
    get:
      operationId: getTeams
      summary: Retrieves Teams
      description: |
        Returns Teams
      parameters:
        - $ref: '#/components/parameters/SportId'
      tags:
        - mlb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: MLBTeams
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/MLBTeam'
components:
  parameters:
    EndDate:
      in: query
      name: endDate
      required: false
      schema:
        type: string
    Season:
      in: query
      name: season
      required: true
      explode: true
      schema:
        type: number
    SportId:
      in: query
      name: sportId
      required: true
      schema:
        type: number
        default: 1
    StartDate:
      in: query
      name: startDate
      required: false
      schema:
        type: string
    TeamId:
      in: query
      name: teamId
      required: false
      schema:
        type: number
  schemas:
    MLBDivision:
      title: MLBDivision
      description: |
        Division 
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        season:
          type: string
        nameShort:
          type: string
        link:
          type: string
        abbreviation:
          type: string
        league:
          $ref: '#/components/schemas/MLBLeague'
        sport:
          $ref: '#/components/schemas/MLBSport'
        hasWildcard:
          type: boolean
        sortOrder:
          type: number
        numPlayoffTeams:
          type: number
        active:
          type: boolean
    MLBGame:
      title: MLBGame
      description: |
        Game
      type: object
      properties:
        gamePk:
          type: number
        gameGuid:
          type: string
        link:
          type: string
        gameType:
          type: string
          enum:
            - E
            - S
            - R
            - F
            - D
            - L
            - W
          x-enum-varnames:
            - Exhibition
            - SpringTraining
            - Regular
            - WildCardSeries
            - DivisionSeries
            - LeagueChampionshipSeries
            - WorldSeries
          description: |
            Game Type:
              * `E` - Exhibition
              * `S` - Spring Training
              * `R` - Regular Season
              * `F` - Wild Card Series
              * `D` - Division Series
              * `L` - League Championship Series
              * `W` - World Series
        season:
          type: number
        gameDate:
          type: string
        officialDate:
          type: string
        rescheduledTo:
          type: number
        rescheduledToDate:
          type: string
        rescheduledFrom:
          type: number
        rescheduledFromDate:
          type: string
        status:
          title: MLBGameStatus
          type: object
          properties:
            abstractGameState:
              type: string
            codedGameState:
              type: string
              enum:
                - F
                - D
                - S
                - I
                - P
                - O
              x-enum-varnames:
                - Final
                - Postponed
                - Scheduled
                - InProgress
                - Pregame
                - GameOver
              description: |
                Coded Game State
                  * `F` - Final
                  * `D` - Delayed/Postponed
                  * `S` - Scheduled
                  * `I` - In Progress
                  * `P` - Pregame
                  * `O` - Game Over
            detailedState:
              type: string
            statusCode:
              type: string
            startTimeTBD:
              type: boolean
            abstractGameCode:
              type: string
        teams:
          type: object
          properties:
            away:
              $ref: '#/components/schemas/MLBGameTeam'
            home:
              $ref: '#/components/schemas/MLBGameTeam'
        venue:
          $ref: '#/components/schemas/MLBVenue'
        content:
          type: object
          properties:
            link:
              type: string
        isTie:
          type: boolean
        gameNumber:
          type: number
        publicFacing:
          type: boolean
        doubleHeader:
          type: string
        gamedayType:
          type: string
        tiebreaker:
          type: string
        calendarEventID:
          type: string
        seasonDisplay:
          type: string
        dayNight:
          type: string
        description:
          type: string
        scheduledInnings:
          type: number
        reverseHomeAwayStatus:
          type: boolean
        inningBreakLength:
          type: number
        gamesInSeries:
          type: number
        seriesGameNumber:
          type: number
        seriesDescription:
          type: string
        recordSource:
          type: string
        ifNecessary:
          type: string
        ifNecessaryDescription:
          type: string
    MLBGameTeam:
      title: MLBGameTeam
      description: |
        Game Team
      type: object
      properties:
        leagueRecord:
          title: MLBTeamRecord
          type: object
          properties:
            wins:
              type: number
            losses:
              type: number
            pct:
              type: string
        score:
          type: number
        team:
          $ref: '#/components/schemas/MLBTeam'
        isWinner:
          type: boolean
        splitSquad:
          type: boolean
        seriesNumber:
          type: number
    MLBLeague:
      title: MLBLeague
      description: |
        League 
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        link:
          type: string
        abbreviation:
          type: string
        nameShort:
          type: string
        seasonState:
          type: string
        hasWildCard:
          type: boolean
        hasSplitSeason:
          type: boolean
        hasPlayoffPoints:
          type: boolean
        seasonDateInfo:
          title: MLBLeagueDates
          type: object
          properties:
            seasonId:
              type: string
            preSeasonStartDate:
              type: string
            preSeasonEndDate:
              type: string
            seasonStartDate:
              type: string
            springStartDate:
              type: string
            springEndDate:
              type: string
            offseasonStartDate:
              type: string
            offseasonEndDate:
              type: string
            seasonLevelGamedayType:
              type: string
            gameLevelGamedayType:
              type: string
        season:
          type: string
        orgCode:
          type: string
        conferencesInUse:
          type: boolean
        divisionsInUse:
          type: boolean
        sortOrder:
          type: number
        active:
          type: boolean
    MLBSeason:
      title: MLBSeason
      description: |
        Season
      type: object
      properties:
        seasonId:
          type: string
        hasWildcard:
          type: boolean
        preSeasonStartDate:
          type: string
        preSeasonEndDate:
          type: string
        seasonStartDate:
          type: string
        springStartDate:
          type: string
        springEndDate:
          type: string
        regularSeasonStartDate:
          type: string
        lastDate1stHalf:
          type: string
        allStartDate:
          type: string
        firstDate2ndHalf:
          type: string
        regularSeasonEndDate:
          type: string
        postSeasonStartDate:
          type: string
        postSeasonEndDate:
          type: string
        offSeasonStartDate:
          type: string
        offSeasonEndDate:
          type: string
        seasonLevelGamedayType:
          type: string
        gameLevelGamedayType:
          type: string
        qualifierPlateAppearances:
          type: number
        qualifierOutsPitched:
          type: number
    MLBSchedule:
      title: MLBSchedule
      description: |
        Schedule
      type: object
      properties:
        totalItems:
          type: number
        totalEvents:
          type: number
        totalGames:
          type: number
        totalGamesInProgress:
          type: number
        dates:
          type: array
          items:
            title: MLBScheduleDay
            type: object
            properties:
              date:
                type: string
              totalItems:
                type: number
              totalEvents:
                type: number
              totalGames:
                type: number
              totalGamesInProgress:
                type: number
              games:
                type: array
                items:
                  $ref: '#/components/schemas/MLBGame'
    MLBSport:
      title: MLBSport
      description: |
        Sport
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        link:
          type: string
        name:
          type: string
        abbreviation:
          type: string
        sortOrder:
          type: number
        activeStatus:
          type: boolean
    MLBTeam:
      title: MLBTeam
      description: |
        Team
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        link:
          type: string
        allStarStatus:
          type: string
        season:
          type: number
        venue:
          $ref: '#/components/schemas/MLBVenue'
        springVenue:
          $ref: '#/components/schemas/MLBVenue'
        teamCode:
          type: string
        fileCode:
          type: string
        abbreviation:
          type: string
        teamName:
          type: string
        locationName:
          type: string
        firstYearOfPlay:
          type: string
        league:
          $ref: '#/components/schemas/MLBLeague'
        springLeague:
          $ref: '#/components/schemas/MLBLeague'
        division:
          $ref: '#/components/schemas/MLBDivision'
        sport:
          $ref: '#/components/schemas/MLBSport'
        shortName:
          type: string
        franchiseName:
          type: string
        clubName:
          type: string
        active:
          type: boolean
    MLBVenue:
      title: MLBVenue
      description: |
        Venue
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        link:
          type: string
        active:
          type: boolean
        season:
          type: string
