name: CI
on:
  pull_request:
    branches: ['*']
  push:
    branches:
      - 'master'
    tags: ['*']

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 25

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: true

      - name: Lint
        run: pnpm run lint

      - name: Format
        run: pnpm run format:check

      - name: Build
        run: pnpm run build
