name: CI
on:
  pull_request:
    branches: ['*']
  push:
    branches:
      - 'master'
    tags: ['*']

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format:check
      - name: Build
        run: npm run build
